table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid rgb(111, 139, 228);
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table tr:hover {
    background-color: rgb(237, 245, 248);
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #243a6f;
    color: white;
}